/* General body styling */
body {
    background-color: #FFF8E8;
    background-size: cover;
    background-position: center;
    color: black;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}

/* Navbar styles */
.navbar-nav .nav-link {
    color: white;
    font-size: 20px;
}
.navbar-nav .nav-link:hover {
    color: #ffd700;
}

/* Table styles */
table {
    background-color: #FFEEA9;
    border-collapse: collapse;
    width: auto;
}

/* Table headers and cells styling */
th, td {
    
    font-weight: bold;
    font-size: 13px;
    width: 0.1%;
    white-space: nowrap;
}

/* Links inside the table */
table a {
    color: white; /* Bright Yellow */
    text-decoration: none;
}
table a:hover {
    color: #674636; /* Light Cyan */
    text-decoration: underline;
}

/* Input group styling */
.input-group {
    margin-bottom: 1rem;
}
.input-group-text {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
}
#searchBar {
    border-radius: 0;
}

/* Conditional text color for stock availability */
.sufficient {
    color: green;
}
.insufficient {
    color: red;
}

/* Navbar brand image styling */
.navbar-brand img {
    height: 40px;
    width: auto;
}

/* Row background colors for distribution centers */
.dc-710 {
    background-color: #E3B505 !important; /* Added !important to ensure override */
}

.dc-730 {
    background-color: #1F9EFF;
    color: white;
}

.dc-750 {
    background-color: #9A8BBB;
    color: white;
}

/* Adjust navbar link color when hovered */
.navbar-nav .nav-link:hover {
    color: #ffd700;
}

/* Link styles for the homepage navigation */
.homenav {
    color: black;
    text-decoration: none;
}
.homenav:hover {
    color: #674636;
    text-decoration: underline;
}